body {
  background: #051022;
  color: white;
}

.top-row {
  display: flex;
  flex-direction: row;
}

canvas {
  border: 6px #138ba7 solid;
  min-width: 1200px;
  min-height: 700px;
}

h2 {
  background: #13546c;
  width: 100%;
  padding: 8px;
  /* border-top: 4px #066897 solid; */
  border-bottom: 4px #25aeb5 solid;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.data-index {
  border: 2px rgb(0, 144, 181) solid;
  background: rgb(0, 144, 181);
  padding: 4px;
  border-radius: 5px;
  margin-right: 10px;
}

.data-list {
  padding: 12px;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
}

.data-list span:not(.data-index) {
  border: 2px rgb(15, 114, 136) solid;
  background: #055764;
  border-radius: 5px;
  padding: 4px;
  margin: 8px;
}

.room {
  background: #08082c;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
}

.room img {
  width: 80%;
}

.dot {
  width: 10px;
  height: 10px;
  background: red;
  position: relative;
  z-index: 100;
  border-radius: 100%;
  color: #950303;
  font-size: 12px;
  line-height: 38px;
}

@media (max-width: 1600px) {
  .top-row {
    flex-direction: column;
  }
  h2 {
    background: #017f6c;
  }
}
